.add-task-form {
  display: flex;
  flex-direction: column;
  /* margin: -2.5em auto 0.5em auto; */
  background-color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.add-task-form .add-task-form-heading {
  background-color: #0c2231;
  width: 100%;
  padding: 0.7em 0;
  margin: 1em 0;
  color: white;
  font-size: 0.8em;
  text-align: center;
}

.add-task-form-body {
  padding: 0.5em 1.5em;
  display: flex;
  flex-direction: column;
}

.add-task-form-body input {
  width: 95%;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  padding: 0.2em;
  text-align: left;
  border: none;
  border-bottom: #1f672e 2px inset;
}

.add-task-form-body label {
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  text-align: left;
  color: #1f672e;
}

.add-task-form-body .add-task-btn {
  color: #1f672e;
  width: 20%;
  margin: 0.8em 0 0 auto;
  font-size: 1em;
}

@media screen and (min-width: 450px){
}

@media screen and (min-width: 550px){
}

@media screen and (min-width: 650px){
}

@media screen and (min-width: 650px){
}

@media screen and (min-width: 850px){
}