/* .add-reward-form {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.add-reward-form .add-reward-form-heading {
  background-color: #006060;
  width: 100%;
  padding: 0.7em 0;
  margin: 1em 0;
  color: white;
  font-size: 0.8em;
  text-align: center;
}

.add-reward-form-body {
  padding: 0.5em 1.5em;
  display: flex;
  flex-direction: column;
}

.add-reward-form-body input {
  width: 95%;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  padding: 0.2em;
  text-align: left;
  border: none;
  border-bottom: #006060 2px inset;
}

.add-reward-form-body label {
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  text-align: left;
  color: #006060;
}

/* .add-form-body .add-btn {
  color: #006060;;
  background: none
  margin: 0.8em 0 0 auto;
  font-size: 1em;
} */

/* @media screen and (min-width: 450px){
}

@media screen and (min-width: 550px){
}

@media screen and (min-width: 650px){
}

@media screen and (min-width: 650px){
}

@media screen and (min-width: 850px){
}  */