.add-form {
  display: flex;
  flex-direction: column;
  /* margin: -2.5em auto 0.5em auto; */
  background-color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.add-form-heading {
  background-color: #006060;
  width: 100%;
  padding: 0.7em 0;
  margin: 1em 0;
  color: white;
  font-size: 0.8em;
  text-align: center;
}

.add-form-body {
  padding: 0.5em 1.5em;
  display: flex;
  flex-direction: column;
}

.add-form-body input {
  width: 95%;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  padding: 0.2em;
  color:rgb(54, 54, 54);
  text-align: left;
  border: none;
  border-bottom: #006060 2px inset;
}

.add-form-body label {
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  text-align: left;
  color: #006060;
}

.add-form-body .add-btn {
  color: #006060;
  background: none;
  border: none;
  /* width: 20%; */
  margin: 0.8em auto;
  font-size: 1.3em;
  text-shadow: 0px 2px 3px #006060;
}

@media screen and (min-width: 450px){
}

@media screen and (min-width: 550px){
}

@media screen and (min-width: 650px){
}

@media screen and (min-width: 650px){
}

@media screen and (min-width: 850px){
}