.child-signup-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: -2.5em auto 0.5em auto;
  background-color: white;
  /* padding: 1.5em; */
  border-radius: 10px;
  box-shadow: 5px 5px 5px#404d48;

}

.child-signup-form .child-form-heading {
  background-color: #93c37b;
  width: 100%;
  padding: 0.7em 0;
  margin: 1em 0;
  color: white;
  font-size: 0.8em;
  text-align: center;
}

.child-form-body {
  padding: 0.5em 1.5em;
  display: flex;
  flex-direction: column;
}

.child-form-body input {
  width: 95%;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  padding: 0.2em;
  text-align: left;
  border: none;
  border-bottom: #1f672e 2px inset;
}

.child-form-body label {
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  text-align: left;
  color: #1f672e;
}

.child-form-body .child-signup-btn {
  color: #1f672e;
  width: 20%;
  margin: 0.8em 0 0 auto;
  font-size: 1em;
  border: none;
  background: none;
}

@media screen and (min-width: 450px){
}

@media screen and (min-width: 500px){
  .child-signup-form{
    width: 70%;
  }
}

@media screen and (min-width: 650px){
}

@media screen and (min-width: 650px){
}

@media screen and (min-width: 900px){
  .child-signup-form{
    width: 650px;
    margin: -10% auto 0 auto;
  }
}