.dashboard-header {
  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
  padding: 0.5em;
}
.left-header i {
  align-self: center;
}
.left-header h1 {
  align-self: center;
  margin-left: 5px;
  cursor: pointer;
  font-size: 1em;
}

.right-header{
  padding: 0.5em;
  align-self: center;
  cursor: pointer;
}