.header {
  display: flex;
  flex-direction: column;
  background-color: #0c2231;
  height: 40vh;
}

.header-content {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  /* background-color: #177a49; */
}

.left-header {
  display: flex;
  padding: 1em;
}
.left-header i {
  align-self: center;
}

.fa-child {
  color:white;
}
.left-header h1 {
  align-self: center;
  margin-left: 5px;
  cursor: pointer;
  font-size: 1em;
  color: white;
}

.right-header{
  padding: 1em;
  align-self: center;
  cursor: pointer;
}

.fa-bars{
  color:white;
}

.header h2 {
  font-weight: 100;
  font-size: 1.0em;
  line-height: 1.4em;
  margin: 0.5em auto;
  color: white;
}

.header h2 span {
  color: #00A4A6;
}