.first-page {
  height: 100vh;
}

.landing-page {
  display: flex;
  flex-direction: column;
}

.login-forms {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
  margin-top: -4em;
}

.login-choice button {
  width: 50%;
  background-color:#f6f6f6;
  border: none;
  padding: 0.5em;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-family: 'Raleway';
}

.parent-login-form button, .child-login-form button {
  border: none;
  background-color: #006060;
  padding: 0.5em;
  padding-left: 1.0em;
  padding-right: 1.0em;
  border-radius: 5px;
  color: white;

}

.parent-login-form, .child-login-form{
  padding: 1.5em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 5px 5px#404d48;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.parent-choice {
  border-top-left-radius: 10px;
  /* box-shadow: '5px 5px 2px 1px rgba(0, 122, 77, 0.5)' */
}

.child-choice {
  border-top-right-radius: 10px;
  /* box-shadow: '5px 5px 2px 1px rgba(0, 122, 77, 0.5)' */

}

.login-forms input {
  width: 95%;
  margin-bottom: 1em;
  font-size: .85em;
  padding: 0.3em;
  text-align: left;
  border: none;
  border-bottom: #006060 1px inset;
}


.login-forms label {
  font-size: .90em;
  padding: 0;
  margin: 0;
  text-align: left;
  color: #006060;
}

.login-forms .login-btn {
  border-radius: 10px;
  background-color: #006060;
  color: white;
  width: 70%;
  margin: 0.8em auto 0 auto;
}

.non-members {
  text-align: center;
  padding: 1em;
  font-family: 'Raleway';
  font-size: 0.8em;
}

.non-members .register-text {
  color: black;
}

.non-members .register-text a{
  color: #006060;
}

.onboarding-task {
  height: 100vh;
}

.onboarding-task .onboarding-task-background {
  height: 50vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.7)),
    url(https://c.o0bg.com/rf/image_960w/Boston/2011-2020/2015/12/04/BostonGlobe.com/Lifestyle/Images/shutterstock_176998694.jpg) center center no-repeat;
  background-size: cover;
}

.onboarding-task .onboarding-task-desc {
  height: 50vh;
  width: 100vw;
}

.onboarding-reward {
  height: 100vh;
}

.onboarding-reward .onboarding-reward-background {
  height: 50vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.7)),
    url(https://i2-prod.mirror.co.uk/incoming/article8109488.ece/ALTERNATES/s615b/Parents-play-board-game-with-children.jpg) center center no-repeat;
  background-size: cover;
}

.onboarding-reward .onboarding-reward-desc {
  height: 50vh;
  width: 100vw;
}

.onboarding-slogan {
  height: 100vh;
}

.onboarding-slogan .onboarding-slogan-background {
  height: 50vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.7)),
    url(https://s-i.huffpost.com/gen/1503722/images/n-CONFIDENCE-628x314.jpg) center center no-repeat;
  background-size: cover;
}

.onboarding-slogan .onboarding-slogan-desc {
  height: 50vh;
  width: 100vw;
}

@media screen and (min-width: 450px){

  .login-forms {
    margin-top: -6em;
    padding: 1.8em 3em;
  }

}

@media screen and (min-width: 550px){

  .login-forms  {
    margin-top: -6.0em;
    padding: 2em 5em;
  }
 
}

@media screen and (min-width: 650px){
  .login-forms {
    width: 35em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6.5em;
    padding: 3em 8em;

  }
}


@media screen and (min-width: 850px){
  .login-forms {
    width: 50em;
    margin-top: -11.0em;
    padding: 5em 14em;
  }
  .login-forms .login-btn {
    width: 150px;
  }

}