
.landing-page {
  display: flex;
  flex-direction: column;
}

.login-forms {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
  margin-top: -4em;
}

.login-choice button {
  width: 50%;
  /* color:#606060;
  border: none;
  background-color:#f6f6f6; */
  border: none;
  background-color: rgba(217, 217, 217, 0.8);
  padding: 0.5em;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-family: 'Raleway';
}

.parent-login-form button, .child-login-form button {
  border: none;
  background-color: #006060;
  padding: 0.5em;
  padding-left: 1.0em;
  padding-right: 1.0em;
  border-radius: 5px;
  color: white;

}

.parent-login-form, .child-login-form{
  padding: 1.5em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 5px 5px#404d48;
  /* text-align: left; */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.parent-choice {
  border-top-left-radius: 10px;
  box-shadow: '5px 5px 2px 1px rgba(0, 122, 77, 0.5)'
}

.child-choice {
  border-top-right-radius: 10px;
  box-shadow: '5px 5px 2px 1px rgba(0, 122, 77, 0.5)'

}

.login-forms input {
  width: 95%;
  margin-bottom: 1em;
  font-size: .85em;
  padding: 0.3em;
  text-align: left;
  border: none;
  border-bottom: #006060 1px inset;
}


.login-forms label {
  /* font-size: 1.0em;
  text-align: left;
  color: #424242; */
  font-size: .90em;
  padding: 0;
  margin: 0;
  text-align: left;
  color: #006060;
}

.login-forms .login-btn {
  border-radius: 10px;
  background-color: #006060;
  color: white;
  width: 70%;
  margin: 0.8em auto 0 auto;
}

.non-members {
  text-align: center;
  padding: 1em;
  font-family: 'Raleway';
  font-size: 0.8em;
}

.non-members .register-text {
  color: black;
}

.non-members .register-text a{
  color: #006060;
}

@media screen and (min-width: 450px){

  .login-forms .login-component {
    z-index: 4;
    margin-top: -4.5em;
  }

  .login-forms{
    padding: 1.8em 3em;
  }
}

@media screen and (min-width: 550px){

  .login-forms .login-component {
    z-index: 4.65;
    margin-top: -5.0em;
  }
  .login-forms{
    padding: 2em 5em;
  }
}

@media screen and (min-width: 650px){
  .login-forms .login-component {
    z-index: 6;
    margin-top: -6.5em;
  }

  .login-forms{
    padding: 3em 8em;
  }
}

@media screen and (min-width: 650px){
  .login-forms{
    padding: 4em 11em;
  }
}

@media screen and (min-width: 850px){
  .login-forms .login-component {
    margin-left: auto;
    margin-right: auto;
    width:500px;
    z-index: 7;
    margin-top: -7.5em;
  }
  .login-forms{
    padding: 5em 14em;
  }
  .login-forms .login-btn {
    width: 250px;
  }

}