.jumbotron {
  height: 50vh;
  width: 100vw;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://media.defense.gov/2013/Apr/23/2000056508/780/780/0/130423-F-SR682-049.JPG) no-repeat center center fixed;
  background-size: cover;
  color: white;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.typer h3 {
  border-right: .01em solid #ffffff;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.2em;
  line-height: 1.3;
  align-content: left;
}

.typer h3 span {
  color: #36f8b1;
}

.typer h3:nth-child(1) {
  width: 14em;
  animation: type 2s steps(40);
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.typer h3:nth-child(2) {
  opacity: 0;
  width: 12em;
  animation: type2 2s steps(40);
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.typer h3:nth-child(3) {
  opacity: 0;
  width: 13.5em;
  animation: type3 2s steps(40), blink .5s step-end infinite alternate;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

.typer h2 {
  opacity: 0;
  animation: type4 1s;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% { width: 0; }
  99.9% { border-right: .01em solid #ffffff; }
  100% { opacity: 1; border: none }
}
@keyframes type2 {
  0% { width: 0;
  }
  1% { opacity: 1; }
  99.9% { border-right: .01em solid #ffffff; }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes type3 {
  0% { width: 0;
  }
  1% { opacity: 1; }
  99.9% { border-right: .01em solid #ffffff; }
  100% {
    opacity: 1;
  }
}
@keyframes type4 {
  1% { opacity: 0.5; }
  100% {
    opacity: 1;
    font-weight: bolder;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typer h2 {
  padding-top: 1em;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Raleway';
  line-height: 1.2;
}

.typer h2 a {
  text-decoration: none;
  color: inherit;
}

.typer h2 a:hover {
  cursor: pointer;
  color: #36f8b1;
}

.login-forms {
  display: flex;
  flex-direction: column;
  padding: 1em 2em; 
}

.login-choice {
  /* border: 2px black dashed; */
}

.login-choice button, .parent-login-form button, .child-login-form button {
  width: 50%;
  color: #007c4f;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-family: 'Raleway';
}

.parent-login-form, .child-login-form{
  padding: 1.5em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 5px 5px#404d48;
  text-align: center;
  background-color: #ffffff;
}

.parent-choice {
  border-top-left-radius: 10px;
}

.child-choice {
  border-top-right-radius: 10px;
}

.login-forms input {
  margin: 0.8em 0;
  font-size: 1.1em;
  padding: 0.3em;
  text-align: center;
  border: #36f8b1 4px inset;
}

.login-forms label {
  font-size: 1.1em;
  text-transform: uppercase;
}

.non-members {
  text-align: center;
}

@media screen and (min-width: 450px){
  .login-forms{
    padding: 1.8em 3em;
  }
}

@media screen and (min-width: 550px){
  .login-forms{
    padding: 2em 5em;
  }
}

@media screen and (min-width: 650px){
  .login-forms{
    padding: 3em 8em;
  }
}

@media screen and (min-width: 650px){
  .login-forms{
    padding: 4em 11em;
  }
}

@media screen and (min-width: 850px){
  .login-forms{
    padding: 5em 14em;
  }
}