.modal {
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0, 0.5);
  padding: 5em 0 1em 0;
  visibility: hidden;
}

.modal .task-options {
  width: 90%;
  margin: 0 auto;
}

.modal .task-options button {
  width: calc(100% /3);
  color: rgb(58, 170, 129);
  border: none;
  padding: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-family: 'Raleway';
}

.modal .close {
  width: 90%;
  margin: 0 auto;
  color: rgb(58, 170, 129);
  border: none;
  padding: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-family: 'Raleway';
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modal-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  /* padding: 1em; */
  outline: 0;
  width: 90%;
  margin: 0 auto;
}

.modal.visible {
  transform: translateX(0);
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
  visibility: visible;
}

.modal .task-choice .details-tab {
  border-top-left-radius: 10px;
}

.modal .task-choice .edit-task-tab {
  border-top-right-radius: 10px;
}