.greeting {
  text-align: center;
  padding: 1.5em;
  font-size: 1.2em;
}

.feature-card {
  border: 1px solid black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0.75em;
  border-radius: 5px;
  box-shadow: 5px 5px 5px#404d48;
}

.side-avatar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.side-avatar hgroup {
  text-align: center;
  align-self: center;
}

.task-cards{
  width: 100%;
}

.tasks-list li {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 0.2em;
  padding: 0.2em;
  background-color: #58c69e;
}

.task {
  display: flex;
  border: 3px solid rgb(43, 0, 128);
}

.task .task-details {
  width: 60%;
}

.task .task-btns {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (min-width: 600px) {
  .feature-card {
    display: flex;
    flex-direction: row;
  }
  .side-avatar {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}