.modal-content .incomplete-task-child, .complete-task-child{
  width: fit-content;
  padding: 0.4em;
  font-size: 1em;
  cursor: pointer;
  border: none;
  text-align: center;
  margin: 1em auto;
}

.approval-btns .approve:hover, .modal-content .incomplete-task-child:hover {
  background-color: rgb(34, 118, 253);
  color: white;
  border: 2px solid black;
}