.child-dashboard{
  margin-top:-3.5em;
}

.child-cards {
  margin: -4em auto;
}
.feature-card {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
}

.feature-card .add-btn {
  border: none;
  border-radius: 10px;
  padding: 0.5em 0.8em;
  font-size: 0.9em;
  background-color: #0c2231;
  color: white;
  width: 40%;
  /* margin: -6em 1.8em -3.5em auto; */
  margin: -9px 12px 9px auto;
}

.main-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  /* margin: 4.5em 0.75em; */
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 5px 5px 5px#404d48;
  background-color: #006060;
  flex-grow: 1;
}
.main-card-child-reward{
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin: -2em auto;
  border-radius: 25px;
  box-shadow: 5px 5px 5px#404d48;
  background-color: #006060;
  flex-grow: 1;
}

.child-details-heading {
  text-align: center;
  background-color: #006060;
  color: white;
  width: 90%;
  margin: 0 auto;
  padding: 0.6em;
  font-size: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}


.child-detail .buy-reward {
  margin: 0 0 0 auto;
  padding: 0.9em;
  font-size: 1.1em;
  width: fit-content;
  color: green;
  background-color: white;
  border: none;
}

.child-info{
  text-align: center;
  font-weight: 700;
  color: white;
  padding-bottom: 1.0em;
  line-height: 1.5;

}
.child-info span{
  font-size: .8em;
  color: #BBD4D4;
}
img{
  width: 60%;
}

.side-avatar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 20px;
  background-color: #ffffff;
}

.side-avatar p {
  padding: 0.2em;
}

.item-cards{
  width: 100%;
  margin: 0 auto 0.1em auto;  
  background-color: whitesmoke;  
  border-radius: 20px;  
  height: 20vh;  
  overflow-y: scroll;
}

.task-list {
  padding: 1.1em;
  border-radius: 15px;
  height: 10vh;
}

.tasks-list .task {
  border-radius: 10px;
  width: 90%;
  margin: 0.2em auto;
  padding: 0.5em;
  font-size: 0.8em;
  background-color: #0c2231;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.task .task-details {
  width: 100%;
  font-size: 1.2em
}

.task .task-details p {
  padding-left: 0.5em;
  width: 100%
}

.task .task-status {
  display: flex;
  flex-direction: column;
  width: 10%;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}



@media screen and (orientation: landscape){
  .child-cards {
    margin: -1em auto;
  }
  .feature-card {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
  }

  .feature-card .add-btn {    
    margin: -40px 11% 9px auto;
  }

  .item-cards{
    height: 28vh;
  }
  .side-avatar {
    width: 80%;
    display: -ms-flexbox;  
    display: flex;  
    -ms-flex-direction: column;  
    flex-direction: column;  
    -ms-flex-pack: distribute;  
    justify-content: space-around;  
    -ms-flex-align: center;  
    align-items: center;  
    padding: 0.5em;  
    margin-bottom: 0.5em;  
    border-radius: 20px;  
    background-color: #ffffff;  
    margin: 0 auto .5em auto;
  }
  img{
    width: 40%;
  }
  .item-cards{
    width: 80%;
  }
  .main-card-child-reward{
    margin: -1em auto;
  }
  .main-card{
    margin: 2em auto;
  }
}

@media screen and (min-width: 600px) {
  .feature-card .add-btn {    
    max-width: 12em;
    /* margin: -40px 11% 9px auto; */
  }
}

/* @media screen and (min-width: 900px){
  .feature-card .add-btn {    
    margin: -9px 12% 9px auto;
  }

} */
/* @media screen and (min-width: 1000px){
  .feature-card .add-btn {    
    margin: -9px 15% 9px auto;
  }
} */

@media screen and (min-width: 1200px){
  .feature-card .add-btn {    
    margin: -40px 30% 9px auto;
  }
  .child-cards {
    margin: -5em auto;
  }
}

@media screen and (min-height: 1200px){
  .child-cards {
    margin: -12em auto;
  }
}
