.child-dashboard{
  margin-top:-3.5em;
}

.child-cards {
  margin-top: -2.0em;
}
.feature-card {
  display: flex;
  flex-direction: column;
}

.feature-card .add-btn {
  border: none;
  border-radius: 10px;
  padding: 0.5em 0.8em;
  font-size: 0.8em;
  background-color: #0c2231;
  color: white;
  /* width: 70%; */
  margin: -1.2em 1.8em 0 auto;
}

.main-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0.75em;
  border-radius: 25px;
  box-shadow: 5px 5px 5px#404d48;
  background-color: #006060;
  flex-grow: 1;
}

.child-info{
  text-align: center;
  font-weight: 700;
  color: white;
  padding-bottom: 1.0em;
}
.child-info span{
  font-size: .8em;
  color: #BBD4D4;
}
img{
  width: 60%;
}

.side-avatar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 20px;
  background-color: #ffffff;
}

.side-avatar p {
  padding: 0.2em;
}

.item-cards{
  width: 100%;
  margin: 0 0 0.1em 0;
  background-color: whitesmoke;
  border-radius: 20px;
  height: 20vh;
  overflow-y: scroll;
}

.task-list {
  padding: 1.1em;
  border-radius: 15px;
  height: 10vh;
}

.tasks-list .task {
  border-radius: 10px;
  width: 90%;
  margin: 0.2em auto;
  padding: 0.5em;
  font-size: 0.8em;
  background-color: #0c2231;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.task .task-details {
  width: 100%;
}

.task .task-details p {
  padding-left: 0.5em;
  width: 100%
}

.task .task-status {
  display: flex;
  flex-direction: column;
  width: 10%;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

/* @media screen and (min-width: 350px){
  .child-cards {
    margin-top: -5.5em;
  }
  .side-avatar {
    margin-bottom: 1.0em;
  }
}

@media screen and (min-width: 400px){
  .child-cards {
    margin-top: -6.5em;
  }

} */

@media screen and (min-width: 500px){
  .child-cards {
    margin-top: -5.5em;
  }
  .feature-card{
    width: 90%;
    margin: 0 auto;    
  }
}

@media screen and (min-width: 600px) {
  .main-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

  }
  
.child-info{
  text-align: center;
  font-weight: 700;
  color: white;
  padding-bottom: 1.0em;
  flex: 0 0 100%;
}

  .side-avatar {
    flex: 0 0 35%;
    margin-bottom: 2px;
  }

  .item-cards{
   flex: 0 60%;
  
  }

}

@media screen and (min-width: 700px){
  .child-cards {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .task-list {
    padding: 1.3em;
    border-radius: 15px;
    height: 20vh;
    font-size: 1.0em;
  }

  .task-list .task {
    padding:1em;
  }
}

@media screen and (min-width: 850px){
  .child-cards {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (min-width: 900px){
  .child-cards {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .side-avatar {
    flex: 0 0 30%;
  }

  .item-cards{
   flex: 0 65%;
  
  }
}
